.general-emblema {
  display: flex;
}

.general-sub-emblema {
  display: flex;
}

.general-sub-emblema-2 {
  display: flex;
}
.badge-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: .25rem;
  background-color: rgb(var(--hxd-color-gray));
  cursor: pointer;
}

.badge-card.highlight{
  width: 100px;
  background-color: rgb(var(--hxd-theme-color));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.badge-card-info{
  position: absolute;
  left: 0;
  display: none;
  align-items: center;
  gap: .5rem;
  background-color: rgb(var(--hxd-theme-color));
  color: #fff;
  width: 100%;
  padding: .5rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
}

.badge-card.highlight + .badge-card-info {
  display: flex;
}


.colun-inside {
    width: 64px;
    height: 58px;
    border-radius: 5px;
    margin-left: 101px;
    margin-top: -68px;
    background-color: #09002c;
}
.img-emblem {
  margin-top: -82px;
  margin-left: 113px;
}
.text-emblem {
  color: white;
  margin-top: -78px;
  margin-left: 176px;
  font-size: 15px;

}
.text-sub {
  color: white;
  font-size: 12px;
  margin-top: -8px;
  margin-left: 176px;
  padding: -46px;
  font-weight: bold;
}
.text-last {
    color: white;
    margin-top: -23px;
    margin-left: 176px;
    font-weight: bold;
}
.text-users {
  color: white;
  margin-top: -40px;
  margin-left: 356px;
  font-weight: bold;
}