.slider{
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.slider__arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--hxd-theme-colorLight));
  color: white;
  width: 22px;
  height: 100%;
  border: none;
  font-weight: bold;
  padding: 0;
}

.slider__arrow:disabled{
  opacity: .8
}

.slider__arrow.slider__arrow--left{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.slider__arrow.slider__arrow--right{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.slider .slider__slides, .slider .slider__track{
  display: flex;
}

.slider__track {
  overflow: hidden;
}
.slider__slides {
  transition: margin .25s ease-in;
}

.slider__item {
}

.glide .slider__item{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(var(--hxd-theme-color));
  border-radius: 4px;
  flex-shrink: 0;
  margin-left: 0;
  padding: .25rem;
  transition: margin .3s ease-out;
  cursor: pointer;
}

.glide .slider__item:hover{
  background-color: white;
}

.slider .slider__item:hover .slider__item-popup{
  display: block;
}

.slider .slider__item .slider__item-popup{
  display: none;
  position: absolute;
  background-color: azure;
  min-height: 20px;
  padding: 3px;
  top: 111%;
  border-radius: .25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}