
/* NOVO */

.card-valores{
}

.card-valores__view{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(var(--hxd-theme-color));
    height: 300px;
    border: 1px solid rgb(var(--hxd-theme-color));
    border-radius: .25rem;
}